/* Header styles */
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .ubuntu-bold{

    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }


.banner{
    text-align: center;
    background-image: url('../res/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 380px;
    margin: 20px auto;
    padding:175px 470px ;

}
.header1Bold{
    color:black;
    font-size: xxx-large;
}
.header4Bold{
    color: black;
    font-size: xx-large;
}
/* main styles */

.sec1Container{
    text-align: center;

}
.sec1BigHeading{
    color: red;
    font-size: 70px;
}
.sec1MidiumHeading{
    color: red;
    font-weight: 500;
    font-size: 21px;
}
.sec1h2Heading{
    font-size: 45px;
    font-weight: 600;
}
/* sec2 stye starts here */
.sec2BigHeading{
    color: white;
}
.sec2btn{
    padding: 5px 30px;
    font-weight: 400;
    font-size: 15px;
    color: white;
    background-color: black;
}