/* Header styles */
.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .ubuntu-bold{

    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }


.banner{
    text-align: center;
    background-image: url('../res/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 380px;
    margin: 20px auto;
    padding:175px 470px ;

}
.header1Bold{
    color:black;
    font-size: xxx-large;
}
.header4Bold{
    color: black;
    font-size: xx-large;
}
/* main styles */
.sec1{
    margin-top: 80px;
    margin-bottom: 100px;
}
.sec1Container{
    text-align: center;

}
.sec1BigHeading{
    color: red;
    font-size: 70px;
}
.sec1MidiumHeading{
    color: red;
    font-weight: 500;
    font-size: 21px;
}
.sec1h2Heading{
    font-size: 45px;
    font-weight: 600;
}
/* sec2 stye starts here */
.sec2BigHeading{
    color: white;
    font-size: 55px;
}
.sec2btn{
    border: 0;
    border-radius: 10px;
    padding: 5px 30px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: black;
}
.sec2{
    background-image: url('../res/Vectorrr.png');
    background-repeat: no-repeat;
}
.sec2Container{

    text-align: center;
    width: 450px;
    padding-top: 91px;
    padding-left: 130px; 
    padding-bottom:145px;  
}
.sec2Description{
    color: white;
}
/* sec3 styles start here */
.sec3btn{
    border: 0;
    border-radius: 10px;
    padding: 5px 30px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color:red;
}
.sec3h3{
    font-weight: 600;
    font-size: 19px;

}
.redSpan{
    color: red;
}
.sec3Container{
    
}